body{
    background-color: #729c93;
    color: #60265B;
}

h1{
    display: block;
    align-content: center;
    text-align: center;
    font-size: 130px;
}

h3{
    display: block;
    align-content: center;
    text-align: center;
} 
