html, body {
    height: 100%;
    font-family: American Typewriter, serif;
    font-weight:300;
    font-size: 2em;
}

.background-mural {
    background-image: url('images/bison.jpeg'); 
    background-size: cover;
    background-position: center center; 
    background-repeat: no-repeat; 
    height: 100vh;
    color: purple; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-shadow: 4px 4px #ffd7a8;
}



